<div class="card_pdp">
    <img src={{this.imgUrl}} alt="">
    <h3>{{this.name}}</h3>
    {{!-- <p>Rating{{this.rate}}</p> --}}
    <p>R${{this.price}}</p>
    <a href={{this.url}}>COMPRAR</a>
</div>